@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #1b0f22;
}

a,
button,
input,
textarea {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 100;
}
.header .container {
  padding: 24px 16px;
  background: #23152c;
  border-radius: 0 0 20px 20px;
}
.header__info {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 19px 23px;
  border-radius: 23px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #1b0f22;
}
@media (max-width: 360px) {
  .header__info {
    padding: 19px 10px;
  }
}
.header__info-user {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px;
  padding-right: 14px;
  border-radius: 48px;
  background-color: #31203a;
}
.header__info-user-avatar {
  padding: 1px;
  border-radius: 48px;
  background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.header__info-user-avatar-image {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__info-user-name {
  font-weight: 500;
  font-size: 12px;
  color: #6c5479;
}
.header__info-tg {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px;
  padding-right: 16px;
  border-radius: 48px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.header__info-tg::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  opacity: 0.57;
  transform: translateX(11px);
}
.header__info-tg-icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background: url(../assets/tg-icon.svg) center no-repeat;
  background-size: 22px;
  background-color: #ffffff;
}
.header__info-tg-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 106%;
  color: #fff;
}
.header__menu {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
  gap: 14px;
  margin: 20px 0 0;
  padding-bottom: 6px;
}
.header__menu::-webkit-scrollbar {
  height: 4px;
}
.header__menu::-webkit-scrollbar-track {
  background: rgba(108, 84, 121, 0.05);
}
.header__menu::-webkit-scrollbar-thumb {
  background: rgba(108, 84, 121, 0.1);
}
.header__menu-link {
  position: relative;
  flex: 0 0 100px;
  display: flex;
  align-items: flex-end;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 23px;
  background: linear-gradient(39deg, #31203a 0%, #442c50 100%);
}
.header__menu-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: block;
  width: 94px;
  height: 94px;
  background: url(../assets/header-link-stroke.svg) center no-repeat;
  background-size: 94px;
  transform: translateX(-50%) translateY(-50%);
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(35, 21, 44, 0) 20%, #23152c 100%);
}
.header__menu-link-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__menu-link-text {
  position: relative;
  z-index: 4;
  padding: 12px;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
.header__points {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 26px 0 0;
  padding: 19px 25px;
  border-radius: 20px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.header__points::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
  filter: blur(32px);
}
.header__points::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  z-index: 5;
  display: block;
  width: 115px;
  aspect-ratio: 1/1;
  background: url(../assets/quick-point.svg) center no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.25;
}
.header__points-number {
  font-style: italic;
  font-weight: 800;
  font-size: 58px;
  color: #fff;
}
.header__points-text {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.main {
  overflow: hidden;
}
.main .container {
  padding: 22px 16px;
}

.main-screen__nav {
  display: flex;
  gap: 20px;
  margin: 0 0 20px;
}
.main-screen__nav-order {
  flex: 0 0 calc(50% - 10px);
  height: 274px;
}
.main-screen__nav-order-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: 1px solid #473253;
  border-radius: 20px;
}
.main-screen__nav-order-link::before {
  content: "";
  position: absolute;
  top: 72px;
  display: inline-block;
  width: 202px;
  height: 228px;
  background: url(../assets/boxes.png) center no-repeat;
  background-size: 125%;
  transform: rotate(-15deg) translateX(-10px);
}
.main-screen__nav-order-link-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.main-screen__nav-order-link-text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(../assets/arrow-gradient.svg) center no-repeat;
}
.main-screen__nav-points {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-screen__nav-points-main {
  flex: 1 1 auto;
}
.main-screen__nav-points-main-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: 1px solid #473253;
  border-radius: 20px;
}
.main-screen__nav-points-main-link-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.main-screen__nav-points-main-link-text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(../assets/arrow-gradient.svg) center no-repeat;
}
.main-screen__nav-points-main-link-count {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -10px;
  padding: 13px 16px;
  border-radius: 20px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.main-screen__nav-points-main-link-count::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: inline-block;
  filter: blur(52px);
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.main-screen__nav-points-main-link-count::after {
  content: "";
  display: inline-block;
  height: 19px;
  width: 19px;
  background: url(../assets/quick-point.svg) center no-repeat;
  background-size: 19px;
}
.main-screen__nav-points-friends-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.main-screen__nav-points-friends-link::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 1;
  border-radius: 20px;
  background-color: #1b0f22;
}
.main-screen__nav-points-friends-link::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 2;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(18, 194, 233, 0.28) 0%, rgba(196, 113, 237, 0.28) 50%, rgba(246, 79, 89, 0.28) 100%);
}
.main-screen__nav-points-friends-link-text {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: 700;
  font-size: 15px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-screen__nav-points-friends-link-text::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  height: 48px;
  width: 48px;
  background: url(../assets/gift.svg) center no-repeat;
  background-size: 48px;
}
.main-screen__how-order {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 20px 0;
  padding: 22px 29px;
  padding-right: 100px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #0029ff 0%, #ed71ca 100%);
}
.main-screen__how-order::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(101px);
  background: linear-gradient(-45deg, #0029ff 0%, #ed71ca 100%);
  opacity: 0.6;
}
.main-screen__how-order::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 117px;
  height: 121px;
  background: url(../assets/info.png) center no-repeat;
  transform: translateY(-50%) rotate(-24deg);
}
.main-screen__how-order-text {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.main-screen__how-order-more {
  padding: 7px 13px;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.main-screen__contest {
  padding: 10px;
  border: 1px solid #473253;
  border-radius: 20px;
  background-color: #31203a;
}
.main-screen__contest-picture {
  position: relative;
  height: 150px;
  margin: 0 0 20px;
  border: 1px solid #473253;
  border-radius: 20px;
  background: url(../assets/contest-bg-logo.svg) center no-repeat, linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.main-screen__contest-picture::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  display: inline-block;
  width: 169px;
  height: 167px;
  background: url(../assets/contest-phone.png) top center no-repeat;
  transform: translateX(-50%);
}
.main-screen__contest-tag {
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 13px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(18, 194, 233, 0.2) 0%, rgba(196, 113, 237, 0.2) 50%, rgba(246, 79, 89, 0.2) 100%);
}
.main-screen__contest-tag-text {
  font-weight: 400;
  font-size: 15px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-screen__contest-title {
  margin: 8px 0 13px;
  font-weight: 800;
  font-size: 21px;
  color: #fff;
}
.main-screen__contest-button-outter {
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.main-screen__contest-participate {
  position: relative;
  display: block;
  width: 100%;
  padding: 22px;
  box-sizing: border-box;
  border: none;
  border-radius: inherit;
  background-color: #31203a;
  cursor: pointer;
}
.main-screen__contest-participate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  background: linear-gradient(90deg, rgba(18, 194, 233, 0.39) 0%, rgba(196, 113, 237, 0.39) 50%, rgba(246, 79, 89, 0.39) 100%);
}
.main-screen__contest-participate-text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 15px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.how-to-order__title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.how-to-order__description {
  margin: 0 0 41px;
  font-weight: 400;
  font-size: 15px;
  color: #6c5479;
}
.how-to-order__links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 20px;
}
.how-to-order__link {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 144px;
  padding: 17px 15px 14px;
  box-sizing: border-box;
  border-radius: 20px;
}
.how-to-order__link_bot {
  background: url(../assets/help-bot-bg.png) top 22px right -30px no-repeat;
  background-color: #12c2e9;
}
.how-to-order__link_myself {
  background: url(../assets/help-myself-bg.png) bottom right no-repeat;
  background-color: #c471ed;
}
.how-to-order__link-title {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.how-to-order__link-text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
}
.how-to-order__link-text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(../assets/arrow-gradient.svg) center no-repeat;
  filter: brightness(10);
}
.how-to-order__help-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 30px;
  border: 1px solid #473253;
  border-radius: 20px;
  background-color: #31203a;
}
.how-to-order__help-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background: url(../assets/arrow-gradient.svg) center no-repeat;
  transform: translateY(-50%);
  filter: brightness(10);
}
.how-to-order__help-link-icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 50px;
  height: 37px;
  background: url(../assets/help-chap.png) center no-repeat;
}
.how-to-order__help-link-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: inline-block;
  width: 50px;
  height: 37px;
  background: url(../assets/help-chap.png) center no-repeat;
  filter: blur(20px);
}
.how-to-order__help-link-text {
  max-width: 191px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.my-orders__title {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.my-orders__orders {
  margin: 0 -16px;
  padding: 20px 16px 30px;
  border-radius: 20px 20px 0 0;
  background-color: #23152c;
}
.my-orders__orders-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
}
.my-orders__orders-controls-button {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid #473253;
  border-radius: 20px;
  background-color: #31203a;
  cursor: pointer;
}
@media (max-width: 360px) {
  .my-orders__orders-controls-button {
    flex: 1 1 auto;
    padding: 14px 20px;
  }
}
.my-orders__orders-controls-button.active {
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.my-orders__order {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 23px 0 0;
}
.my-orders__order-figure {
  flex: 0 0 auto;
  overflow: hidden;
  border: 1px solid #473253;
  border-radius: 20px;
}
.my-orders__order-figure-image {
  display: block;
  width: 98px;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-orders__order-info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.my-orders__order-info-date {
  margin: 0 0 3px;
  font-weight: 400;
  font-size: 9px;
  color: #6c5479;
}
.my-orders__order-info-title {
  flex: 1 1 auto;
  min-height: 38px;
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}
.my-orders__order-info-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.my-orders__order-info-footer-price {
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.my-orders__order-info-footer-tag {
  max-width: 120px;
  padding: 7px 14px;
  border-radius: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.my-orders__order-info-footer-tag_pending {
  color: #12c2e9;
  background: rgba(18, 194, 233, 0.1);
}
.my-orders__order-info-footer-tag_onprogress {
  color: #f6b34f;
  background: rgba(246, 179, 79, 0.1);
}
.my-orders__order-info-footer-tag_fullfield {
  color: #59cd46;
  background: rgba(89, 205, 70, 0.1);
}
.my-orders__order-info-footer-tag_rejected {
  color: #cd4646;
  background: rgba(18, 194, 233, 0.1);
}
.my-orders__order-info-footer-tag_ready {
  background: linear-gradient(90deg, rgba(18, 194, 233, 0.1) 0%, rgba(196, 113, 237, 0.1) 50%, rgba(246, 79, 89, 0.1) 100%);
}
.my-orders__order-info-footer-tag_ready .my-orders__order-info-footer-tag-text {
  text-align: right;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.my-orders__order-info-footer-tag-text {
  font-weight: 400;
  font-size: 11px;
}

.friends__figure {
  display: flex;
  justify-content: center;
  margin: 0 0 26px;
}
.friends__figure-image {
  display: block;
  max-width: 420px;
  width: 100%;
  height: auto;
}
.friends__title {
  margin: 0 auto 8px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.friends__title span {
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.friends__description {
  margin: 0 auto 23px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.friends__description span {
  font-weight: 700;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.friends__info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 37px;
  padding: 7px 15px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  border: 1px solid #473253;
  border-radius: 10px;
  background: #31203a;
  opacity: 0.6;
}
.friends__info::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../assets/question.svg) center no-repeat;
  background-size: 19px;
}
.friends__invite {
  padding: 21px 16px;
  margin: 0 -20px -22px;
  border-radius: 23px 23px 0 0;
  background-color: #23152c;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
}
.friends__invite-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}
.friends__invite-ref {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 10px 8px 20px;
  margin: 0 0 8px;
  border-radius: 20px;
  background-color: #1b0f22;
}
.friends__invite-ref-link {
  font-weight: 400;
  font-size: 15px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.friends__invite-ref-copy {
  display: inline-block;
  width: 43px;
  height: 43px;
  border: 1px solid #473253;
  border-radius: 14px;
  background: url(../assets/copy.svg) center no-repeat;
  background-color: #31203a;
  cursor: pointer;
}
.friends__invite-history {
  padding: 19px 14px;
  margin: 0;
  list-style-type: none;
  border-radius: 20px;
  background-color: #1b0f22;
}
.friends__invite-history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 5px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border-bottom: 1px solid #281931;
}
.friends__invite-history-item:first-child {
  padding-top: 0;
}
.friends__invite-history-item-text {
  opacity: 0.6;
}

.points__friends {
  margin: 0 0 25px;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.points__friends-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-height: 84px;
  width: 100%;
  padding: 18px 79px 18px 69px;
  box-sizing: border-box;
  text-align: left;
  border: none;
  border-radius: inherit;
  background: url(../assets/gift.svg) left 15px center no-repeat, url(../assets/arrow-gradient.svg) right 24px center no-repeat;
  background-size: 48px, 14px;
  background-color: #1b0f22;
  cursor: pointer;
}
.points__friends-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(90deg, rgba(18, 194, 233, 0.16) 0%, rgba(196, 113, 237, 0.16) 50%, rgba(246, 79, 89, 0.16) 100%);
}
.points__friends-button span {
  font-weight: 700;
  font-size: 18px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.points__help {
  margin: 0 0 24px;
}
.points__help-title {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}
.points__help-text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  color: #6c5479;
}
.points__help-text span {
  color: #ffffff;
}
.points__help-course {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 8px 0 26px;
  padding: 5px 15px;
  border-radius: 48px;
  background-color: #31203a;
}
.points__help-course-text {
  display: inline-block;
  margin: 0 11px;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}
.points__help-course-number {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 4px;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.points__help-course-number::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -20px;
  bottom: 0;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  filter: blur(8px);
  opacity: 0.25;
}
.points__history {
  margin: 0 -16px -22px;
  padding: 22px 16px 32px;
  border-radius: 23px 23px 0 0;
  background-color: #23152c;
}
.points__history-title {
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.points__history-item {
  position: relative;
  min-height: 66px;
  margin: 7px 0 0;
  padding: 11px 24px;
  padding-left: 68px;
  box-sizing: border-box;
  background: #31203a;
  border: 1px solid #473253;
  border-radius: 224px;
}
.points__history-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 11px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid #473253;
  border-radius: 50px;
  transform: translateY(-50%);
}
.points__history-item_received::before {
  background: url(../assets/quick-point.svg) center no-repeat, linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}
.points__history-item_spent::before {
  background: url(../assets/quick-point.svg) center no-repeat #23152c;
}
.points__history-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 0 2px;
}
.points__history-item-info-title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.points__history-item-info-number {
  font-weight: 700;
  font-size: 18px;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.points__history-item-date {
  font-weight: 400;
  font-size: 12px;
  color: #6c5479;
}