.header {
  position: relative;
  z-index: 100;

  & .container {
    padding: 24px 16px;
    background: #23152c;
    border-radius: 0 0 20px 20px;
  }

  &__info {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 19px 23px;
    border-radius: 23px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #1b0f22;

    @include mobilesm {
      padding: 19px 10px;
    }

    &-user {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 3px;
      padding-right: 14px;
      border-radius: 48px;
      background-color: #31203a;

      &-avatar {
        padding: 1px;
        border-radius: 48px;
        background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);

        &-image {
          display: block;
          height: 32px;
          width: 32px;
          border-radius: 48px;
          object-fit: cover;
        }
      }

      &-name {
        font-weight: 500;
        font-size: 12px;
        color: #6c5479;
      }
    }

    &-tg {
      position: relative;
      z-index: 1;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 4px;
      padding-right: 16px;
      border-radius: 48px;
      background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 48px;
        background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
        opacity: 0.57;
        transform: translateX(11px);
      }

      &-icon {
        display: inline-block;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        background: url(../assets/tg-icon.svg) center no-repeat;
        background-size: 22px;
        background-color: #ffffff;
      }

      &-name {
        font-weight: 700;
        font-size: 15px;
        line-height: 106%;
        color: #fff;
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    gap: 14px;
    margin: 20px 0 0;
    padding-bottom: 6px;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: #6c5479, $alpha: 0.05);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: #6c5479, $alpha: 0.1);
    }

    &-link {
      position: relative;
      flex: 0 0 100px;
      display: flex;
      align-items: flex-end;
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 23px;
      background: linear-gradient(39deg, #31203a 0%, #442c50 100%);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        display: block;
        width: 94px;
        height: 94px;
        background: url(../assets/header-link-stroke.svg) center no-repeat;
        background-size: 94px;
        transform: translateX(-50%) translateY(-50%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: linear-gradient(
          180deg,
          rgba($color: #23152c, $alpha: 0) 20%,
          rgba($color: #23152c, $alpha: 1) 100%
        );
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      &-text {
        position: relative;
        z-index: 4;
        padding: 12px;
        font-weight: 500;
        font-size: 10px;
        text-align: center;
        color: #fff;
      }
    }
  }

  &__points {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 26px 0 0;
    padding: 19px 25px;
    border-radius: 20px;
    background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: inherit;
      filter: blur(32px);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 4px;
      z-index: 5;
      display: block;
      width: 115px;
      aspect-ratio: 1 / 1;
      background: url(../assets/quick-point.svg) center no-repeat;
      background-size: cover;
      transform: translateY(-50%);
      opacity: 0.25;
    }

    &-number {
      font-style: italic;
      font-weight: 800;
      font-size: 58px;
      color: #fff;
    }

    &-text {
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      color: #fff;
    }
  }
}
