.points {
  &__friends {
    margin: 0 0 25px;
    padding: 1px;
    border-radius: 20px;
    background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);

    &-button {
      position: relative;
      z-index: 1;
      display: inline-block;
      min-height: 84px;
      width: 100%;
      padding: 18px 79px 18px 69px;
      box-sizing: border-box;
      text-align: left;
      border: none;
      border-radius: inherit;
      background: url(../assets/gift.svg) left 15px center no-repeat,
        url(../assets/arrow-gradient.svg) right 24px center no-repeat;
      background-size: 48px, 14px;
      background-color: #1b0f22;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(
          90deg,
          rgba(18, 194, 233, 0.16) 0%,
          rgba(196, 113, 237, 0.16) 50%,
          rgba(246, 79, 89, 0.16) 100%
        );
      }

      & span {
        font-weight: 700;
        font-size: 18px;
        background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__help {
    margin: 0 0 24px;

    &-title {
      margin: 0 0 4px;
      font-weight: 700;
      font-size: 22px;
      color: #fff;
    }

    &-text {
      margin: 0;
      font-weight: 400;
      font-size: 15px;
      color: #6c5479;

      & span {
        color: #ffffff;
      }
    }

    &-course {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 8px 0 26px;
      padding: 5px 15px;
      border-radius: 48px;
      background-color: #31203a;

      &-text {
        display: inline-block;
        margin: 0 11px;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
      }

      &-number {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-right: 4px;
        font-style: italic;
        font-weight: 800;
        font-size: 24px;
        background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: -20px;
          bottom: 0;
          z-index: -1;
          border-radius: 8px;
          background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
          filter: blur(8px);
          opacity: 0.25;
        }
      }
    }
  }

  &__history {
    margin: 0 -16px -22px;
    padding: 22px 16px 32px;
    border-radius: 23px 23px 0 0;
    background-color: #23152c;

    &-title {
      margin: 0 0 26px;
      font-weight: 700;
      font-size: 32px;
      color: #fff;
    }

    &-item {
      position: relative;
      min-height: 66px;
      margin: 7px 0 0;
      padding: 11px 24px;
      padding-left: 68px;
      box-sizing: border-box;
      background: #31203a;
      border: 1px solid #473253;
      border-radius: 224px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 11px;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border: 1px solid #473253;
        border-radius: 50px;
        transform: translateY(-50%);
      }

      &_received {
        &::before {
          background: url(../assets/quick-point.svg) center no-repeat,
            linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
        }
      }

      &_spent {
        &::before {
          background: url(../assets/quick-point.svg) center no-repeat #23152c;
        }
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        margin: 0 0 2px;

        &-title {
          font-weight: 700;
          font-size: 18px;
          color: #fff;
        }

        &-number {
          font-weight: 700;
          font-size: 18px;
          background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &-date {
        font-weight: 400;
        font-size: 12px;
        color: #6c5479;
      }
    }
  }
}
